.wrapper {
	width: 50vh;
	height: 100%;
	background: linear-gradient(
		170deg,
		rgba(189, 5, 109, 1) 0%,
		rgba(189, 5, 109, 1) 48%,
		rgba(196, 17, 118, 1) 100%
	);
	box-shadow: 3px 5px 5px 5px rgba(248, 10, 89, 0.3);

	justify-content: center;
	align-items: center;

	border-radius: 25px;

	margin: 15vh auto;
}

.wrapper h1 {
	line-height: 70px;
}

.link {
	color: white;
	text-decoration: none;

	font-size: 2vh;
	font-weight: bold;
	font-style: italic;
	text-align: center;
}

hr {
	height: 1px;
	color: grey;
	background-color: #707070;
	border: 0px solid grey;
	opacity: 0.2;
}
